.md-header__button.md-logo img, .md-header__button.md-logo svg {
    display: block;
    width: 4.5rem !important;
    height: 1rem !important;
    fill: currentColor;
}

.md-header__title {
    line-height: 2.6rem;
}
